.form {
    flex-direction: column;
}

form {
    width: 90vw;
    margin: 20px auto;
}

.section {
    height: 140vh;
}

.heading {
    padding: 4vw 6vw 6vw 6vw;
    font-size: 6vw;
}

form input,
form textarea {
    width: 90vw;
}

.image {
    width: 100vw;
}

.img {
    width: 70vw;
    height: 70vw;
    margin: auto;
}

.img-text {
    width: 60vw;
    font-size: 5vw;
}

footer {
    justify-content: unset;
    flex-direction: column;
}

.left{
    width: 90vw;
}

.copy{
    display: block;
}
.right {
    width: 100vw;
    padding: 0px;
}

.first,
.second {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    margin-top: 0px;
    text-align: center;
}

.sec {
    width: 40vw;
}

.follow {
    margin-top: 0px;
    padding: 10px 0px;
    padding-top: 0px;
}

.icon{
    width: 30vw;
}
.foot{
    font-size: 30px;
}

@media screen and (max-width:400px) {
    .heading {
        font-size: 8vw;
    }


}